*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header part started */

.headerMain{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.headerLogo{
    width: 100%;
}

.headerPhone{
    width: 30%;
    margin-right: 2.5rem;
}

.logo{
    width: 12.917vw;
}

.headerPhoneNumber{
    font-size: 2.083vw;
    font-weight: bold;
    color: rgb(127, 214, 255);
    border: 2px solid black;
    padding-left:2.5rem ;
    margin-top: 25px;
    border-radius: 30px;
}

.headerPhoneMain{
    position: relative;
}

.headerPhoneSchedule{
    position: absolute;
    top: -0.625vw;
    right: 1.302vw;
    background-color: white;
    font-size: 1.042vw;
}

.headerPhoneCall{
    position: absolute;
    top: 0;
    right: -0.521vw;
    background-color: white;
    font-size: 1.563vw;
}

@media screen and (max-width:1386px) {
    .headerPhoneNumber{
        padding-left:0.6rem ;
    }   
}
@media screen and (max-width:1256px) {
     .headerPhone{
        width: 100%;
     }
}
@media screen and (max-width:1256px) {
    .headerPhone{
        width: 80%;
     }
     .headerMain{
        display: block;
     }
}

/* header part ended */

/* nav section started  */

.navSection{
    background-color: rgba(182, 182, 182, 0.616);
}
.menuDiv{
    display: none;
}
.navMain{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.navList{
    display: flex;
    list-style: none;
    margin-left: 200px;
}
.navList li{
    margin-left: 20px;
    font-size: small;
    font-weight: 500;
}
.navList li:hover{
    color: rgb(60, 186, 245);
}
.navList li:hover::after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
    margin-top: -2px; 
    
}
.navListForMobile{
    list-style: none;
    display: none;
}
.navListForMobile li:hover{
    color: rgb(60, 186, 245);
}
.navListForMobile li:hover::after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
    margin-top: -2px; 
    
}
.navLogBtn{
    padding: 5px 15px 5px 15px;
    border: none;
    background-color: rgb(127, 214, 255);
    font-size: small;
}
.navBarBtn{
    padding: 5px 15px 5px 15px;
    border: none;
    font-size: small;
}

@media screen and (max-width:1256px) {
    .navList{
        margin-left: 10px;
    }
}

@media screen and (max-width:900px) {
    .navList{
        display: none;
    }
    .menuDiv{
        display: block;
    }
}

/* nav section ended  */

/* hero section started  */
.heroSectionImageDIv{
    width: 100%;
}
.heroSectionImage{
    width: 100%;
    height: 26.042vw;
    opacity: .7;
}
.heroSection{
    position: relative;
}
.heroSub1{
    position: absolute;
    font-size: 4.167vw;
    color: rgb(60, 186, 245);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 1.042vw;
    left: 1.563vw;
}
.heroSub2{
    position: absolute;
    font-size: 3.333vw;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 6.25vw;
    left: 2.604vw;
    background-color: rgba(255, 0, 0, 0.603);
    padding: 1.042vw;
    border-radius: 20px 20px 50px 50px;
}
.heroSub3{
    position: absolute;
    font-size: 1.563vw;
    color: rgb(2, 90, 131);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 1.042vw;
    left: 4.688vw;
}

/* Hero section completed  */

/* Menu bar section started */
.menuBarDiv{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(113, 114, 116);
    font-size: 20px;
    padding: 10px;
    color: white;
}
.menuBarDiv i{
    font-size: 50px;
    color: white;
}
/* Menu bar section ended */

/* Hero section 2 started */
.heroSection2{
    padding: 20px 50px 10px 50px;
}
.heroSection2 img{
    border-radius: 10px;
}
/* Hero section 2 ended */